.content {
    display: block;
    align-content: center;
}
.grappa {
    display: block;
    text-align: center;
    align-content: center;
}
.box {
    display: block;
    text-align: center;
    align-content: center;
}
.grappa-img {
    height: 300px;
}