.section {
    display: block;
    text-align: center;
}
.grappa {
    display: block;
    text-align: center;
    align-content: center;
}
.box {
    display: block;
    text-align: center;
    align-content: center;
}
.grappa-img {
    height: 300px;
}
.comment {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    margin: 3px;
    border: 2px solid orange;
    border-radius: 10px;
}
.pagepicker {
    display: inline-flex;
    border: 1px solid orange;
    width: 20%;
    border-radius: 5px;
    background-color: #FFAF80;
}
.pagepicker-button {
    width: 25%;
    border: 1px solid orange;
}
textarea {
    width: 80%;
}
.conferma {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFAF80;
}