.aside {
    width: 25%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.aside .box {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #f4f4f4;
    box-shadow: 0px 0px 4px  rgba(0,0,0,.9);
}
.box {
    overflow: hidden;
}
.aside .box p {
    padding: 0px 20px 0px 20px;
    text-align: justify;
}
.comments {
    display: block;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
  