.header {
    margin: 0;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    height: 11vh;
    background-color: #707070;
    display: block;
}
.navTitle {
    float: left;
    padding-left: 30px;
}
.menu {
    margin: 0;
    list-style: none;
    padding-right: 30px;
    float: right;
}
.menu .item-li {
    float: left;
    padding: 5px;
}
.menu .item-li .item-a:hover {
    background-color: #595959;
    color: white;
}
.menu .item-li .item-a {
    color: black;
    background-color: #ffffff;
    display: block;
    padding: 5px 10px;
    border: 1px solid #a4a4a4;
}