body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: block;
  overflow-y: hidden;
}
a {
  text-decoration: none;
}
.main {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 80vh;
}
.section {
  width: 75%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #f4f4f4;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .9);
  overflow-y: scroll;
}
.section .box p {
  padding: 0px 20px 0px 20px;
  text-align: justify;
  
}
